.container {
  padding-bottom: 20px;
}

.centered {
  text-align: center;
}

.inline {
  display: inline-block;
}

#password {
  width: 250px;
  margin-left: 20px;
}

.form-group {
  margin-top: 10px;
}
